
@mixin border(){
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

@mixin colorTransition($prop) {
    transition-property: $prop;
    transition-duration: 500ms;
}


body {
    background-color: gray;
    @include colorTransition(background-color);
}

#quote-box {
    background-color: white;
    padding: 1.5em;
    width: 60%;
    font-size: 20px;
    @include border();
    margin: 20px auto;

    #text {
        @include colorTransition(color);
    }

    #author {
        font-size: 14px;
        text-align: right;
        @include colorTransition(color);
        margin: 1em 0;
    }

    #buttons{
        font-size: 14px;

        #tweet-quote{
            margin: 1em;
            
        }
    
        #tumblr-quote{
           
            margin: 1em;
        }
    
        #new-quote {
            border: none;
            
            color: white;
    
        }
    }
    
}

.btn {
    @include colorTransition(background-color);
    color: white;
    background-color: gray; 
}

#quotes-icon {
    height: 20px;
    width: 20px;
}

#app-creator {
    
    text-align: center;
    color: white;
}